body {
    padding-top: 70px;
}

#logoLink {
    padding: 1px 0px 0px;
}

#MainContent_BtnNouvelleCommande, #MainContent_BtnAddArticle, #MainContent_GroupBtnCommande {
    margin-top: 25px;
}

#MainContent_panier {
    margin-top: 15px;
}

#MainContent_GridViewCommande td {
    vertical-align: middle;
}

#panierMenu {
    width: 700px;
}

#panierTotal {
    padding : 2%;
}

.boxArticle img {
    position: relative;
    max-height: 200px !important;
}

.articleTitle {
    height: 60px;
    display: table;
    width: 100%;
}

.articleTitle h3 {
    display: table-cell;
    vertical-align: middle;
}

.articlePrix {
    margin-top: 4px;
    padding: 8px;
    float: right;
    font-size: 1em;
}

.articleBody {
    position: relative;
}

.articleReference {
    position: absolute;
    bottom: -8px;
    left: 5px;
}

.articleCategorie {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

