#MainContent_BtnNouvelleCommande, #MainContent_BtnAddArticle, #MainContent_GroupBtnCommande {
    margin-top: 25px;
}

.boxArticle {
    padding : 1%;
}

.article {
    border: 1px solid grey;
    padding: 4%;
    height: 280px;
    position: relative;
}

.commandeArticle {
    position: absolute;
    bottom : 0px;
    left: 0px;
    padding : 4%;
}