#MainContent_BtnNouvelleCommande, #MainContent_BtnAddArticle, #MainContent_BtnAnnulerCommande {
    margin-top: 25px;
}

.boxArticle {
    padding : 1%;
}

.article {
    border: 1px solid grey;
    padding: 4%;
}